# Оптимизация библиотек для docker
# Core
fastapi==0.115.6
uvicorn[standard]==0.34.0
pydantic==2.10.4

# Data processing
pandas==2.2.3
numpy==1.26.4

# ML models
scikit-surprise==1.1.5
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1